body{
    background-color: #242633 !important;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #242633 !important;
}

.quizCard{
    width: 30rem;
}

.progress{
    margin: 10px 16px 0 16px;
    height: 10px !important;
    /* background-color: #6B63B5 !important; */
}

.card-title{
    margin-bottom: 16px !important;
}

.quizAnswerCard:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}


.questionFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 1px solid rgba(0, 0, 0, 0.4); */
    padding-top: 24px;
}

.btnPurple{
    background-color: #6B63B5 !important;
    border-color: #6B63B5 !important;
}

.bg-success, .bg-danger{
    color: white !important;
}

.quizEnded{
    text-align: center;
    margin: 30px 10px;
    font-size: 26px;
}

.displayCorrectAnswers{
    text-align: center;
    margin: 0px 10px 30px;
}

#restart{
    margin: 0px 150px 30px;
}

@media (max-width: 650px){
	.quizCard{
        width: 100% !important;
        min-height: 100vh;
        border-radius: 0 !important;
    }
    .container{
        max-width: none !important;
        padding: 0 !important;
    }
    #restart{
        margin: 0px 30px 30px;
    }
}
